$gray-one: #252525;
$gray-two: #424242;
$gray-three: #858585;
$gray-four: #D2D2D2;
$gray-five: #EDEDED;
$pink: #E43071;
$pink-prem: #BE285E;
$sub-pink: #FFC1D8;
$green: #26D68A;
$sub-green: #9BE8C7;
$white: white;